* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: burlywood;
}

.container {
  width: 100vw;
  min-height: 800px;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  padding: 90px;
  translate: 20px;
}

.bparent {
  width: 200px;
  height: 200px;
  background-color: rgba(245, 245, 220, 0.76);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  width: 100px;
  height: 100px;
  background-color: rgba(210, 105, 30, 0.747);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sparent {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
}

.box1:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: rotate(50deg);
}

.box2:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scaleY(0.75);
}

.box3:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scaleX(0.75);
}

.box4:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scale(2);
}

.box5:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scaleX(2);
}

.box6:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scaleY(2);
}

.box7:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: skewX(40deg);
}

.box8:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: skewY(40deg);
}

.box9:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: translateX(50px) translateY(20px);
}

.box10:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: translateX(40px);
}

.box11:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: translateY(40px);
}

.box12:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scale(2) skewY(50deg);
}

/* .box13:hover {
    width: 100px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0.562);
    border-radius: 10px;
    transform: perspective();
  } */

  /* .box14:hover {
    width: 100px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0.562);
    border-radius: 10px;
    transform: perspective();
  } */

.box15:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: rotate(30deg);
  transform-origin: top right;
}

.box16:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: rotate(30deg);
  transform-origin: bottom left;
}

/* .box17:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: ;
} */

/* .box18:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: ;
} */

/* .box19:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: ;
} */

/* .box20:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: ;
} */

.box21:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scale(2);
  transform-origin: top right;
}

.box22:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scale(2);
  transform-origin: bottom left;
}

.box23:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scaleX(2);
  transform-origin: right;
}

.box24:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scaleX(2);
  transform-origin: left;
}

.box25:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scaleY(2);
  transform-origin: top;
}

.box26:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: scaleY(2);
  transform-origin: bottom;
}
