* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: burlywood;
}

.container {
  width: 100vw;
  min-height: 400rem;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  padding: 90px;
  translate: 20px;
}

.bparent {
  width: 200px;
  height: 200px;
  background-color: rgba(245, 245, 220, 0.76);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  width: 100px;
  height: 100px;
  background-color: rgba(210, 105, 30, 0.747);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sparent {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
}

.box1:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.562);
  border-radius: 10px;
  transform: rotate(50deg);
}

/* .box2:hover {
    width: 100px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0.562);
    border-radius: 10px;
    transform: rotate(50deg);
  }
  
  .box3:hover {
    width: 100px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0.562);
    border-radius: 10px;
    transform: rotate(50deg);
  } */

  .box4:hover {
    width: 100px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0.562);
    border-radius: 10px;
    transform: scale(2.5);
  }

  .box5:hover {
    width: 100px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0.562);
    border-radius: 10px;
    transform: scaleX(2);
  }

  .box6:hover {
    width: 100px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0.562);
    border-radius: 10px;
    transform: translateX(40px);
  }